<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="col s6">
        <div class="input-field col s8 offset-s2">
          <input id="first_name" disabled placeholder="201401" type="text" class="validate">
          <label for="first_name">Internal Order Number</label>
        </div>
        <div class="input-field col s8 offset-s2">
          <input id="first_name" disabled placeholder="98989-xyz"type="text" class="validate">
          <label for="first_name">External Order Number</label>
        </div>
        <div class="input-field col s8 offset-s2">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Requested By</label>
        </div>
        <div class="input-field col s8 offset-s2">
          <input id="first_name" disabled placeholder="19 May, 2015 (8:00am MST)" type="text" class="datepicker">
          <label for="first_name">Last Modified</label>
        </div>
      </div>
      <div class="col s6">
        <div class="input-field col s8 offset-s2">
          <input id="last_name" disabled placeholder="OPEN" type="text" class="validate">
          <label for="last_name">Order Status</label>
        </div>
        <div class="input-field col s8 offset-s2">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Ship To Name</label>
        </div>
        <div class="input-field col s8 offset-s2">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Ship To Address</label>
        </div>
      </div>
    </div>
  </form>
</div>
{{outlet}}
