<div class="row valign-wrapper">
  <div class="col s7">
    <h3 class="flow-text">2011 Arctic Cat Sno Pro<br>
      <label> 600 Cross Country Race Model</label>
    </h3>

    {{#product-slider class="cd-gallery"}}
    <li>
    <a href="/vehiclesale">
      <ul class="cd-item-wrapper">
        <li class="selected">
          <img class="responsive-img" src="https://images.cdn.manheim.com/20150415210840-5d94745f-48e4-46d2-8d4a-df062b882b85.jpg?size=w1600h1200">
        </li>
        <li class="move-right">
          <img class="responsive-img" src="https://images.cdn.manheim.com/20150415210825-42f9612a-3a41-4072-a2c6-2f75cae6f37c.jpg?size=w1600h1200">
        </li>
        <li class="">
          <img class="responsive-img" src="https://images.cdn.manheim.com/20150415210835-f31223f5-6ac2-44e3-9b0c-9ca915175006.jpg?size=w1600h1200">
        </li>
        <li class="">
          <img class="responsive-img" src="https://images.cdn.manheim.com/20150415210844-08ae75b6-ef0e-4165-84e2-5262cfa75c15.jpg?size=w1600h1200">
        </li>
        <li class="">
          <img class="responsive-img" src="https://images.cdn.manheim.com/20150415210853-de8df8ee-dafa-4524-a09b-5ee5c9117945.jpg?size=w1600h1200">
        </li>
      </ul> <!-- cd-item-wrapper -->
    </a>
    <div class="cd-item-info">
      <b><a href=""></a></b>
      <em class="cd-price">$5000</em>
    </div> <!-- cd-item-info -->
  </li>
    {{/product-slider}}

  </div>

  <div class="col s4 variant">
    <br>
    <div class="col s12 center-align">
      <label>Buy Now Price</label>
      <h4>$5000</h4>
    </div>
    <br>
    <div class="col s12 center-align">
      <a class="waves-effect waves-light btn-large green darken-1">Buy now</a>
    </div>
    <br>
    <div class="col s12 center-align">
        <br>
        <div class="divider"></div>
        <br>
        <label>Start Date</label>
        4/12/2015 <br>
        <label>End Date</label>
        4/29/2015 <br>

    </div>
    <div class="col s12 center-align">
      <br>
      <div class="divider"></div>
      <br>
      <label>VIN</label>
      4UF11SNW0BT115069
      <br>
      <label>Odometer</label>
      498
      <br>
      <label>Exterior</label>
      Green
      <br>
      <label>Pickup Location</label>
      MN - Thief River Falls
      <br>
      <label>Vehicle Location</label>
      Distribution Center <br>
      <label>Warranty Status</label>
      Not covered <br>
      <label>Buy Now Fee</label>
      $100
      <br>
      <br>
      <div class="divider"></div>
    </div>
  </div>

</div>


<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#test1">Announcements</a></li>
        <li class="tab col s3"><a href="#test2">Video</a></li>
        <li class="tab col s3"><a href="#test3">Condition</a></li>
        <li class="tab col s3"><a href="#test4">Seller</a></li>
        <li class="tab col s3"><a href="#test5">Terms</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
      <br>
      <label>Title Status: </label> MSO <br>
      <label>Titled In: </label> Not Specified
      <br>
      <br>
    </div>

    <div id="test2" class="col s12">
      <br>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VHeBKe_sIEw" frameborder="0" allowfullscreen></iframe>
      </div>
      <br>
      <br>
    </div>

    <div id="test3" class="col s12">
      <br>
      <label>Frame Damage: </label> Not Specified <br>
      <label>Prior Paint: </label> Not Specified <br>
      <label>Odor: </label> Not Specified <br>
      <label>Keys: </label> Not Specified <br>
      <label>Other: </label> <br>
      <label>Seller Commments: </label> Crated, No Warranty <br>
      <br>
      <br>
    </div>

    <div id="test4" class="col s12">
      <label>Account Name: </label> Arctic Cat <br>
      <label>Account Group: </label> Arctic Cat Closed br

      <h6>Seller Contact Info: </h6> <br>
      <label>Contact Name: </label> Dave Wilson <br>
      <label>Email: </label> david@example.com <br>
      <label>Phone: </label> 555.555.5555 <br>
      <br>
      <br>


    </div>

    <div id="test5" class="col s12">
      <div class="container">
        Terms
      </div>

    </div>
  </div>







{{outlet}}

{{outlet}}


{{outlet}}
